html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.spriteSheetContainer {
    position:relative;
}

.spriteSheet {
    background-color: #FF00FF;
}

.spriteSheetSelection {
    position:absolute;
    top:0;
    left:0;
    opacity: 0.6;
}

.main {
    background-color: #343434;
    min-height: 100%;
}

.comboListContainer {
    float: right;
    min-height: 100%;
    background-color: #333;
    border-left: 2px solid #444;
    padding-left: 1em;
    padding-right: 1em;
}

.combo.selected {
    background-color: #666
}
